  ///////////////////
 // baseline grid //
///////////////////
@import 'baseline/logic';

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: $body-ie; // percentage for IE6 an below
}

html > body {
  font-size: $body-text; // all other browsers
}

p {
  font-size: 1em;
  line-height: $base;
  margin-top: $base;
  margin-bottom: $base;
}

h1 {
  font-size: 1.5em; // font size doesn't have to be multiple of base
  line-height: 1em; // 18px x 2 = 36px
  margin-top: 0; 
  margin-bottom: 1em;
}

h2 {
  font-size: 1.1667em;
  line-height: $base;
  margin-bottom: $base;
}

h3 {
  font-size: .7em;
  line-height: $base;
}

ul, ol {
  margin-bottom: $base;
}

.left {
  float: left;
  margin: 0 $base $base 0;
}

.right {
  float: right;
  margin: 0 0 $base $base;
}

.callout {
  border: 1px solid #ddd;
  padding: 8px 10px; // ( padding+border = 8+8+1+1 = 18 )
  margin-bottom: $base;
}

.callout :last-child {
  margin-bottom: 0;
}