  ///////////////////
 // baseline grid //
///////////////////
@import 'baseline/logic';

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: $body-ie; // percentage for IE6 and below
}

html > body {
  font-size: $body; // all other browsers
  font-family: $fontface;
}

p {
  font-size: 1em;
  line-height: 1.2857142;
  margin-top: 1.2857142em;
  margin-bottom: 1.2857142em;
}

h1 {
  font-size: 3em;
  line-height: 1.2857142;
  margin-bottom: 0.4285714em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1428571;
  margin-bottom: 0.5714285em;
}

h3 {
  font-size: 1.175em;
  line-height: 1.0942249;
  margin-bottom: 1.0942249em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.1428571;
  margin-bottom: 1.1428571em;
}

/* 
TODO:
- Top margins (margin colapse yo!)
- Media Queries: read the artical in pocket
*/