// web font -'Open Sans'
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

// strip units
@function strip( $unit ) {
  @return $unit / ($unit * 0 + 1);
}

// Ratio Function
@function ratio ( $initial, $multiple ) {
  @for $i from 1 through $multiple {
    $initial: ( $initial * 1.425 );
  }
  @return $initial;  
}

// variables
$fontface: 'Open Sans', sans-serif;
$body: 14px;
$base: ratio( $body, 1 );
$body-ie: percentage( strip( $body ) / 16 ); // percentage for IE6 and under