@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* line 18, ../sass/global/reset/_html5-display.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 26, ../sass/global/reset/_html5-display.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 33, ../sass/global/reset/_html5-display.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 42, ../sass/global/reset/_html5-display.scss */
[hidden],
template {
  display: none;
}

/* line 8, ../sass/global/reset/_base.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../sass/global/reset/_base.scss */
body {
  margin: 0;
}

/* line 7, ../sass/global/reset/_links.scss */
a {
  background: transparent;
}

/* line 13, ../sass/global/reset/_links.scss */
a:focus {
  outline: thin dotted;
}

/* line 20, ../sass/global/reset/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 14, ../sass/global/reset/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 21, ../sass/global/reset/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 27, ../sass/global/reset/_typography.scss */
dfn {
  font-style: italic;
}

/* line 33, ../sass/global/reset/_typography.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 41, ../sass/global/reset/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 51, ../sass/global/reset/_typography.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 58, ../sass/global/reset/_typography.scss */
pre {
  white-space: pre-wrap;
}

/* line 64, ../sass/global/reset/_typography.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 70, ../sass/global/reset/_typography.scss */
small {
  font-size: 80%;
}

/* line 77, ../sass/global/reset/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 84, ../sass/global/reset/_typography.scss */
sup {
  top: -0.5em;
}

/* line 88, ../sass/global/reset/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 7, ../sass/global/reset/_embedded-content.scss */
img {
  border: 0;
}

/* line 13, ../sass/global/reset/_embedded-content.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 7, ../sass/global/reset/_figures.scss */
figure {
  margin: 0;
}

/* line 7, ../sass/global/reset/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 16, ../sass/global/reset/_forms.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 28, ../sass/global/reset/_forms.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 37, ../sass/global/reset/_forms.scss */
button,
input {
  line-height: normal;
}

/* line 47, ../sass/global/reset/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 58, ../sass/global/reset/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 66, ../sass/global/reset/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 74, ../sass/global/reset/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 82, ../sass/global/reset/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 92, ../sass/global/reset/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 99, ../sass/global/reset/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 107, ../sass/global/reset/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 7, ../sass/global/reset/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../sass/global/_baseline.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/global/_baseline.scss */
body {
  font-size: 87.5%;
}

/* line 15, ../sass/global/_baseline.scss */
html > body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

/* line 20, ../sass/global/_baseline.scss */
p {
  font-size: 1em;
  line-height: 1.2857142;
  margin-top: 1.2857142em;
  margin-bottom: 1.2857142em;
}

/* line 27, ../sass/global/_baseline.scss */
h1 {
  font-size: 3em;
  line-height: 1.2857142;
  margin-bottom: 0.4285714em;
}

/* line 33, ../sass/global/_baseline.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.1428571;
  margin-bottom: 0.5714285em;
}

/* line 39, ../sass/global/_baseline.scss */
h3 {
  font-size: 1.175em;
  line-height: 1.0942249;
  margin-bottom: 1.0942249em;
}

/* line 45, ../sass/global/_baseline.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.1428571;
  margin-bottom: 1.1428571em;
}

/* 
TODO:
- Top margins (margin colapse yo!)
*/
